@model WebApiFlorence.Classes.Invitation

@{ var groomName = @Model.GroomName;}
@{ var groomMomName = @Model.GroomMomName; }
@{ var groomFatherName = @Model.GroomFatherName; }
@{ var brideName = @Model.BrideName;}
@{ var brideMomName = @Model.BrideMomName;}
@{ var brideFatherName = @Model.BrideFatherName;}
@{ var churchLocation = @Model.ChurchLocation;}
@{ var churchTime = @Model.ChurchTime;}
@{ var townHallLocation = @Model.TownHallLocation;}
@{ var townHallTime = @Model.TownHallTime;}

<html>
    <head>
    <body>
        <h2><center>CONTRACT DE PRESTARI SERVICII</center></h2>
        <h2><center>Nr. 1 din data 26.05.2022</center></h2>

        
    </body>
    </head>
</html>





