@model WebApiFlorence.Classes.Invitation

@{ var groomName = @Model.GroomName;}
@{ var groomMomName = @Model.GroomMomName; }
@{ var groomFatherName = @Model.GroomFatherName; }
@{ var brideName = @Model.BrideName;}
@{ var brideMomName = @Model.BrideMomName;}
@{ var brideFatherName = @Model.BrideFatherName;}
@{ var churchLocation = @Model.ChurchLocation;}
@{ var churchTime = @Model.ChurchTime;}
@{ var townHallLocation = @Model.TownHallLocation;}
@{ var townHallTime = @Model.TownHallTime;}


<html>
    <head>
    <body>
    
    <link rel="stylesheet" href="~/style.css" type="text/css" />
    <p>INVITATIEEEEEEEEEE</p>
      

    </body>
    </head>
</html>





