@model WebApiFlorence.Classes.Invitation

@*@{ var groomName = @Model.GroomName;}
@{ var groomMomName = @Model.GroomMomName; }
@{ var groomFatherName = @Model.GroomFatherName; }
@{ var brideName = @Model.BrideName;}
@{ var brideMomName = @Model.BrideMomName;}
@{ var brideFatherName = @Model.BrideFatherName;}
@{ var churchLocation = @Model.ChurchLocation;}
@{ var churchTime = @Model.ChurchTime;}
@{ var townHallLocation = @Model.TownHallLocation;}
@{ var townHallTime = @Model.TownHallTime;}*@


<html>
    <head>
        <meta name="viewport" content="width-device-height" />
        <link href="~/style.css" rel="stylesheet" />
        <title>Invitatie</title>
    <body>
        <img src="~/images/download.jpg" />

    </body>
    </head>
</html>





